.todos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
}

.todoBtn{
    position: fixed;
    bottom: 2%;
    right: 2%;  
}

.todoBtn button{
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(103, 255, 136);
    font-size: 15px;
    font-weight: bold;    
    border-radius: 10px;
}